# API keys
KIWI_API_KEY=
BOOKING_API_KEY=

# Amadeus API
AMADEUS_API_KEY=   # np. Bearer <token>
AMADEUS_CLIENT_ID=
AMADEUS_CLIENT_SECRET=

# Mailtrap credentials
MAILTRAP_USERNAME=
MAILTRAP_PASSWORD=

# Database application user
DB_APP_USER=
DB_APP_PASS=

# Postgres database credentials
POSTGRES_USER=
POSTGRES_PASSWORD=